body{
			font-family: 'Poiret One', cursive;
			font-family: 'Josefin Sans', sans-serif;
			font-family: 'Open Sans', sans-serif;
			font-family: 'Muli', sans-serif;
			margin: 0;
			padding: 0;
		}
		.welcome-div{
			position: fixed;
			width: 100%;
			height: 100%;
			line-height: 100%;
			background: #EEEEEE;
		}

		.welcome-div h1{
			position: absolute;
			float: left;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 80px;
			color: #616161;
		}