.page-signup-modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
      display: block;
    }

    .page-signup-form-group { position: relative; }

    .page-signup-icon {
      position: absolute;
      line-height: 21px;
      width: 36px;
      border-color: rgba(0, 0, 0, .14);
      border-right-width: 1px;
      border-right-style: solid;
      left: 1px;
      top: 9px;
      text-align: center;
      font-size: 15px;
    }

    html[dir="rtl"] .page-signup-icon {
      border-right: 0;
      border-left-width: 1px;
      border-left-style: solid;
      left: auto;
      right: 1px;
    }

    html:not([dir="rtl"]) .page-signup-icon + .page-signup-form-control { padding-left: 50px; }
    html[dir="rtl"] .page-signup-icon + .page-signup-form-control { padding-right: 50px; }

    /* Margins */

    .page-signup-modal > .modal-dialog { margin: 30px 10px; }

    @media (min-width: 544px) {
      .page-signup-modal > .modal-dialog {
        margin: 60px auto;
      }
    }